<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>AGPS status</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

<div class="status">
  <div>Last updated: <%= new Date(timestamp) %></div>
  <table class="ages">
    <tr>
      <% Object.keys(navs).forEach(function (key) { %>
	<td>
          <%= navs[key] ? ("0" + Math.max(0, Math.ceil((Date.now() - navs[key].Toc) / 1000 / 60 / 60))).substr(-2) : "" %>
        </td>
      <% }); %>
    </tr>
  </table>
</div>

<% navs.forEach(function (nav) { if (!nav) return; %>
<table class="navs">
  <% Object.keys(nav).forEach(function (key) { %>
    <tr><td><%= key %></td><td><%= nav[key] %></td></tr>
  <% }); %>
</table>
<% }); %>

</body>
</html>
