<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>AGPS status</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>

Foo!

</body>
</html>
